{# @var post \App\View\PostView #}
<ul>
    {% for post in posts %}
        <h3>Post from {{ post.author.username }}</h3>
        <p><i>Posted at <strong>{{ post.published|date('Y-m-d H:i:s') }}</strong></i></p>
        <code>{{ post.message|nl2br }}</code>
        <div>
            {% if is_granted(constant('App\\Like\\Voter\\LikeVoter::LIKE'), post) %}
                <a href="{{ path('post_like', {'id': post.hash}) }}">Like ({{ post.likes }})</a>
            {% elseif is_granted(constant('App\\Like\\Voter\\LikeVoter::UNLIKE'), post) %}
                <a href="{{ path('post_unlike', {'id': post.hash}) }}">Unlike ({{ post.likes }})</a>
            {% else %}
                Likes ({{ post.likes }})
            {% endif %}
        </div>
    {% endfor %}
</ul>
