{# @var post \App\View\PostView #}
{% for post in posts %}
    <div class="retwis-post">
        <p class="retwis-post-meta">
            {{ post.published|date('F d, Y') }}
            by <a href="{{ path('user_profile', {'username': post.author.username}) }}">
                <strong>{{ post.author.name }}</strong>
                <small>@{{ post.author.username }}</small>
            </a>
        </p>
        {{ post.message|nl2br|tag_links|raw }}
        <div class="retwis-post-actions text-right">
            <a class="btn btn-sm btn-outline-primary" href="{{ path('post_show', {'id': post.hash}) }}">
                Show
            </a>
            {% if is_granted(constant('App\\Like\\Voter\\LikeVoter::LIKE'), post) %}
                <a class="btn btn-sm btn-outline-danger" href="{{ path('post_like', {'id': post.hash}) }}">
                    Like ({{ post.likes }})
                </a>
            {% elseif is_granted(constant('App\\Like\\Voter\\LikeVoter::UNLIKE'), post) %}
                <a class="btn btn-sm btn-danger" href="{{ path('post_unlike', {'id': post.hash}) }}">
                    Unlike ({{ post.likes }})
                </a>
            {% else %}
                <button class="btn btn-sm btn-outline-secondary">
                    Likes ({{ post.likes }})
                </button>
            {% endif %}
        </div>
    </div>
{% endfor %}

{% include '_pagination.html.twig' %}
