{# @var userFollower \App\User\User #}
{# @var userFollowing \App\User\User #}
{% extends 'base.html.twig' %}

{% block title user.username %}

{% block body %}
    <h1>@{{ user.username }}</h1>
    {% if is_granted(constant('App\\Follow\\Voter\\FollowVoter::FOLLOW'), user) %}
        <a href="{{ path('user_follow', {'username': user.username}) }}">Follow</a>
    {% elseif is_granted(constant('App\\Follow\\Voter\\FollowVoter::UNFOLLOW'), user) %}
        <a href="{{ path('user_unfollow', {'username': user.username}) }}">Unfollow</a>
    {% endif %}
    {{ render(controller('App\\Controller\\UserFollowController::followers', {id: user.id})) }}
    {{ render(controller('App\\Controller\\UserFollowController::following', {id: user.id})) }}
    {{ render(controller('App\\Controller\\UserTimelineController::personalTimeline', {id: user.id})) }}
    {{ render(controller('App\\Controller\\UserTimelineController::mainTimeline', {id: user.id})) }}
{% endblock %}
