{# @var userFollower \App\User\User #}
{# @var userFollowing \App\User\User #}
{% extends 'base.html.twig' %}

{% block title user.username %}

{% block body %}
    <h2>@{{ user.username }}</h2>
    {% if is_granted(constant('App\\Follow\\Voter\\FollowVoter::FOLLOW'), user) %}
        <a href="{{ path('user_follow', {'username': user.username}) }}">Follow</a>
    {% elseif is_granted(constant('App\\Follow\\Voter\\FollowVoter::UNFOLLOW'), user) %}
        <a href="{{ path('user_unfollow', {'username': user.username}) }}">Unfollow</a>
    {% endif %}
    <h3>Followers ({{ followers.count }})</h3>
    <ul>
        {% for userFollower in followers.list %}
            <li><a href="{{ path('user_profile', {'username': userFollower.username}) }}">@{{ userFollower.username }}</a></li>
        {% endfor %}
    </ul>
    <h3>Following ({{ following.count }})</h3>
    <ul>
        {% for userFollowing in following.list %}
            <li><a href="{{ path('user_profile', {'username': userFollowing.username}) }}">@{{ userFollowing.username }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
